{{ report_date_cn }}游戏盒PC云游戏数据
一、游戏盒PC云游戏相关数据日报
PC云游戏总并发峰值：{{ target.concurrency.formatted_peak_value }}，时间：{{ target.concurrency.peak_time_label }}。
PC云游戏总排队峰值：{{ target.queue.formatted_peak_value }}，时间：{{ target.queue.peak_time_label }}。
{{ target.queue_summary }}
[pc云游戏图片]
